@import "../../styles/root.css";

main {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  margin-top: 6rem;
}
.mainContent {
  width: 70%;
}
.btnContainer {
  display: flex;
  gap: 1.2rem;
}
.mainContent p {
  width: 100%;
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6;
  opacity: 0;
  animation: fadeIn ease 1s forwards;
  animation-delay: 0.3s;
}
.secondContent {
  width: 100%;
  color: var(--text-color);
  font-size: 1.4rem;
  font-style: italic;
  margin-top: 1rem;
  text-align: center;
  font-weight: 400;
  opacity: 0.7;
  line-height: 1.6;
  opacity: 0;
  animation: fadeIn ease 1s forwards;
  animation-delay: 0.3s;
}
.btnContainer {
  margin-top: 1.4rem;
}
.loginBtn {
  padding: 0.8em 3.2em;
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.5rem;
  transition: transform ease 0.2s, box-shadow ease 0.2s ease-out;
  display: inline-block;
  font-size: 1.6rem;
  transition: transform 150ms ease-out, box-shadow 150ms ease-out;
  will-change: transform;
  white-space: nowrap;
  text-decoration: none;
}
.loginBtn:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.guestBtn {
  padding: 0.8em 3.2em;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 0.5rem;
  transition: transform 150ms ease-out, box-shadow 150ms ease-out;
  will-change: transform;
  display: inline-block;
  font-size: 1.6rem;
  white-space: nowrap;
  text-decoration: none;
}
.guestBtn:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.imageCollage {
  position: relative;
  width: 30%;
  margin: 40px auto;
  padding: 0.5rem 0.5rem;
}

.imageCollage img {
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: absolute;
  transition: transform 0.3s ease;
  object-fit: cover;
  border-radius: 12px;
  overflow: hidden;
}

/* Layered positions */
.topImg {
  top: 0;
  left: 30px;
  z-index: 2;
}

.middleImg {
  top: 60px;
  left: 210px;
  z-index: 3;
}

.bottomImg {
  top: 60px;
  left: -130px;
  z-index: 2;
  height: 220px;
}
img:hover {
  transform: scale(1.05);
  z-index: 2;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.mobileDiv {
  height: 150px;
}
@media (min-width: 5000px) {
  .imageCollage {
    width: 8%;
  }
}
@media (min-width: 2000px) and (max-width: 5000px) {
  .imageCollage {
    width: 15%;
  }
  .mainContent p {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .imageCollage {
    width: 45%;
  }
}
@media (max-width: 900px) {
  main {
    width: 100%;
  }
  .btnContainer {
    width: 70%;
  }
  .imageCollage {
    width: 40%;
  }
}
@media (max-width: 700px) {
  .btnContainer {
    flex-direction: column;
    width: 50%;
  }
  .btnContainer a {
    text-align: center;
  }
  .imageCollage img {
    width: 150px;
  }
  .topImg {
    left: 50px;
  }
  .bottomImg {
    left: -75px;
    height: 135px;
  }
  .middleImg {
    left: 175px;
  }
}
@media (max-width: 500px) {
  .mainContent {
    width: 90%;
  }
  .mainContent p {
    text-align: center;
  }
  .btnContainer {
    width: 70%;
  }
  .secondContent p {
    text-align: center;
  }
  .imageCollage {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .imageCollage img {
    width: 120px;
  }
  .topImg {
    left: 40px;
  }
  .bottomImg {
    left: -55px;
    height: 105px;
  }
  .middleImg {
    left: 150px;
  }
}
@media (max-width: 400px) {
  .btnContainer {
    width: 85%;
  }
  .imageCollage {
    width: 50%;
  }
}
@media (max-width: 350px) {
  .imageCollage {
    width: 60%;
  }
  .imageCollage img {
    width: 100px;
  }
  .topImg {
    left: 42px;
  }
  .bottomImg {
    left: -45px;
    height: 90px;
  }
  .middleImg {
    left: 135px;
  }
}
